.footer__column-link_icon_instagram {
  position: relative;
}

.footer__column-link_icon_instagram:before {
  content: "";
  background-image: url("../../../../images/instagram_color_white.svg");
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  z-index: 3;
}
