.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.page__header {
  margin-bottom: 100px;
}

.page__section {
  margin-bottom: 100px;
}

.pgae__section_kaufman {
  padding-top: 90px;
  padding-bottom: 90px;
}

.page__footer {
  padding-top: 60px;
  padding-bottom: 40px;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  background-color: #f2f2f2;
  display: flex;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64px;
  right: 0;
  background-color: #2f80ed;
  z-index: 1;
}

.header__main-illustration {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
}

.header__title {
  margin: auto 64px;
  padding: 0;
  font-size: 102px;
  width: 730px;
  line-height: 96px;
  font-weight: 500;
}

.header__subtitle {
  position: absolute;
  bottom: 30px;
  left: 64px;
  width: 389px;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.header__subtitle a {
  color: #2f80ed;
  text-decoration: none;
}

.two-columns {
  display: flex;
  margin: 0 auto;
  width: 80%;
  justify-content: space-between;
}

.two-columns__brief {
  margin: 0;
  padding: 0;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: 400;
  color: #2f80ed;
}

.two-columns__main-text {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.two-columns__paragraph {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
}

.two-columns__paragraph span {
  font-weight: 500;
}

.two-columns__paragraph:not(:last-child) {
  margin-bottom: 30px;
}

.digits {
  display: flex;
  flex-direction: column;
}

.section-title {
  margin: 0 auto;
  padding: 0;
  font-size: 60px;
  line-height: 1.15;
  font-weight: 500;
}

.section-subtitle{
  margin: 20px auto 0;
  padding: 0;
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
}

.table {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 1100px;
  justify-content: space-between;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}

.table__heading {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 1.15;
  font-weight: 500;
}

.table__text {
  margin: 20px 0 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
}

.feinman {
  min-height: 890px;
  background-color: #f2f2f2;
  background-image: url("../images/feynman.png");
  background-repeat: no-repeat;
  background-position: left bottom;
  display: flex;
  flex-direction: column;
  position: relative;
}

.feinman__title {
  margin: 100px auto 0;
  padding: 0;
  width: 648px;
  font-size: 120px;
  font-weight: 600;
  line-height: 1.15;
  text-align: center;
}

.feinman__subtitle {
  margin: 70px auto 0;
  padding: 0;
  font-size: 36px;
  font-weight: 400;
  line-height: 51px;
}

.feinman__link {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  right: 48px;
  font-size: 36px;
  font-weight: 400;
  line-height: 51px;
  color: #2f80ed;
  text-decoration: none;
}

.kaufman {
  display: flex;
  flex-direction: column;
  background-color: #000;
  color: #fff;
  position: relative;
  overflow: hidden;
}

.table__cell_theme_dark {
  width: 205px;
  margin-top: 80px;
  z-index: 1;
}

.kaufman__triangle {
  position: absolute;
  top: 0;
  right: -210px;
  z-index: 0;
}

.footer {
  color: #ffffff;
  background-color: #000000;
  display: flex;
  min-height: 250px;
}

.footer__columns {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

.footer__author {
  margin: 18px 0;
  padding: 0;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
}

.footer__column-heading {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
}

.footer__column-links {
  list-style: none;
  margin: 20px 0;
  padding: 0;
}

.footer__column-links a {
  color: #ffffff;
  text-decoration: none;
  margin: 0;
  padding: 0;
  z-index: 3;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}

.footer__column_content_social a {
  padding-left: 30px;
}

.footer__column-link-facebook {
  position: relative;
}

.footer__column-link-facebook:before {
  content: "";
  background-image: url("../images/facebook_color_white.svg");
  position: absolute;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  top: 3px;
  left: 5px;
  z-index: 3;
}

.footer__column-link-vk {
  position: relative;
}

.footer__column-link-vk:before {
  content: "";
  background-image: url("../images/vk_color_white.svg");
  position: absolute;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  top: 2px;
  left: 5px;
  z-index: 3;
}

.footer__column-link-instagram {
  position: relative;
}

.footer__column-link-instagram:before {
  content: "";
  background-image: url("../images/instagram_color_white.svg");
  position: absolute;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  top: 2px;
  left: 5px;
  z-index: 3;
}
